.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-sm);
}

@media (max-width: 600px) {
  .actions {
    justify-content: stretch;
  }

  .actions > * {
    width: 100%;
  }
}
