.stack {
  display: flex;
  align-items: center;
}

.item {
  flex-shrink: 0;
  margin-left: calc(var(--spacing-xs) * -1)
}

.item:first-child {
  margin-left: 0;
}

.more {
  margin-left: var(--spacing-xs);
  font-size: var(--text-xs);
  font-weight: var(--weight-bold);
  color: var(--color-text-muted);
}

.none {
  color: var(--color-text-muted);
}